body {
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.top {
    /* margin-bottom: 4.5rem; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(31,31,115,0.48783263305322133) 48%, rgba(0,212,255,1) 100%);    width: 70vw;
    color: seashell;
    padding: 0 1rem 4.5rem 1rem;
    box-shadow: 0  5px 5px 10px rgba(222, 222, 222, 0.5);
}

.dashboard-top-container{
    display: flex;
    justify-content: space-between;
}

.left {
    margin: 1rem ;
    width: 70%;
}
.right {
    margin: 1rem ;
    width: 30%;
}
.overall{
    margin-bottom: 3rem;
}
.overall button {
    font-size: 30px;
    padding: .6rem 5rem .6rem 1.5rem;
    border-radius: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
.overall button:hover{
    filter: brightness(1.15);
}
.overall button:active{
    transform: translateY(3px);
}

.right-bottom div {
    margin-bottom: 2rem;
    font-size: 25px;
}
.circle {
    background-color: coral;
    border:2px solid rgba(107, 106, 106, 0.3);
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.complete {
    display: flex;
    margin: auto;
}
.complete h2 {
    padding-bottom: 0;
    margin: 0;
}
.complete p {
    font-size: 15px;
    padding-top: 0;
    margin: 0;
}
#green {
    background-color: greenyellow;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
.title h1{
    color: #1f1135;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.user-image{
    width: 250px;
    height: 250px;  
}
.container {
    margin-right: 3rem;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, .3);
}
.choose{
    margin-top: 1.5rem;
    float: right;
}
.user-image img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, .3);
}
    #upload-Btn{
     padding: 0.5rem 1rem;
     cursor: pointer;
     box-shadow: 2px 2px 4px #cbced1, -2px -2px white;
    }

.top-down{
    display: flex;
}
.name-field {
    margin-top: 3rem;
    margin-left: 2rem;
}
.name-field h3 {
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.name-field p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.do-today {
    margin-top: 8rem;
    animation: welcome 3s infinite;
    -webkit-animation: welcome 5s infinite;
}
.ongoing-projects {
    padding: 0 2rem;
    margin: auto;
}
.ongoing-title, .buttom-header h3 {
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.add-task {
    margin-right: 12rem;
    background: linear-gradient (to bottom, rgb(169, 38, 230),  rgb(133, 27, 233)) ;
    padding: .8rem 5.2rem .8rem 2rem;
    font-size: 22px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow:inset 0 10px 25px 10px rgb(122, 6, 230);  
    border-radius: 10px;
}
.add-task:hover {
    transform: scale(1.1);
    transition: .5s;
    filter: brightness(1.2);
}
.add-task:active {
    transform: translateY(3px);
}
.card-container {
    background-color: #e2daeb;
    margin-bottom: 2rem;
    display: inline-flex;
    max-width: 100%;
    overflow-x: auto;
    color: #1b1325;
    padding: 1rem;
    box-shadow: 0px 2px 10px 2px rgba(236, 236, 236, 0.2);  

}
.cards {
    width: 100px;
    height: auto;
    display: inline-block;
    margin-right: 1.5rem;
    box-shadow: -10px 5px 30px 10px rgba(122, 121, 121, 0.5);  
    min-width: 220px; 
    padding: .5rem 1.3rem 1.5rem 1.3rem;

}
.card-title h3 {
    color: #1f1135;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 2rem;
    border-bottom: 2px solid gold;
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px  rgb(236, 236, 236);
}
.card-body p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 27px;
}
.days-left {
    font-size: 22px;
    letter-spacing: 1px;
    color: gold;
}
.buttom-page{
    padding: 0 4rem;
}
 .recent-list li{
    margin-bottom: .8rem;
    font-size: 18px;
}
.footer-buttons {
    top: 64.43rem;
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,0.8715861344537815) 34%, rgba(0,212,255,1) 88%);    bottom: 0;
    width: 71.1vw;
    height: 5rem;
}
.buttons{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons i {
font-size: 35px;
color: gold;
cursor: pointer;
}
.buttons i:hover{
    filter: brightness(2);
}
.buttons i:active{
    transform: translateY(3px);
}
.create-top {
    position: relative;
    top: -25rem;
    animation: moveTop 2s ease-in .5s normal forwards;
}
.create-task {
    top: 0;
    bottom: 0;
    left: 23rem;
    position: absolute;
    padding-bottom: 6rem;
    background-color: rgba(251, 245, 218, 0.9);
    width: 71.5vw;
    height: 44vw;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.cancel {
    position: fixed;
    z-index: 8;
    top: 2rem;
    right: 22rem;
    font-size: 36px;
    color: crimson;
    cursor: pointer;
}
.cancel:hover{
    filter: brightness(1.2);
    transform: scale(1.2);
}
.cancel:active{
    transform: translateY(3px);
}
.smiley-face {
    max-width: 250px;
    height: 250px;
}
.smiley-face img{
    width: 100%;
    height: 100%;
}
.create-top h1 {
    animation: welcome 4s infinite ;
}
.line{
    position: relative;
    display: block;
    width: 100%;
    margin: 1.5rem 0 ;
    border-bottom: 4px solid rgb(133, 27, 233);
    top: -25rem;
    animation: moveTop 2s ease-in .5s normal forwards;
}
.create-down{
    background-color: cornsilk;
    position: relative;
    margin-top: 1rem;
    padding: 0 2rem 0 2rem;
    box-shadow: -10px 5px 30px 10px wheat;  
    width: 800px;
}
.header-title h1{
    text-align: center;
font-size: 40px;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input-field input {
    box-shadow: 0px 2px 5px 2px whitesmoke;  
    width: 90%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 1.2rem 2rem;
    font-size: 16px;

}
.input-field label {
    padding: 15px 0;
    margin-left: 1.2rem;
    font-size: 18px;
}
.submit-btn {
    margin: 2rem 0;
    width: 100%;
    padding: 1.4rem 0;
    font-size: 22px;
    font-weight: 700;
    border-radius: 12px;
    background: linear-gradient (to bottom, rgb(169, 38, 230),  rgb(133, 27, 233)) ;
    cursor: pointer;
    border: none;
    box-shadow:inset 0 10px 25px 10px rgb(122, 6, 230);  

}
.submit-btn:hover {
    filter: brightness(1.1);
}
.submit-btn:active {
    transform: translateY(3px);
}
.footer-menu i{
display: none;
}
.card-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-buttons button {
    padding: 5px 9px 5px 9px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
}
.task-complete {
    color: white;
    background: rgb(10, 221, 10);
    box-shadow:inset 0 2px 5px 3px greenyellow;  
}
.delete-task {
    color: white;
    background: rgb(218, 58, 58);
    box-shadow:inset 0 2px 5px 3px rgb(255, 47, 92);  
}
.delete-task:hover{
    filter: brightness(1.2);
}
.task-complete:hover{
    filter: brightness(1.2);
}
.task-complete:active{
    transform: translateY(2px);
}
.delete-task:active{
    transform: translateY(2px);
}

@media screen and (max-width:1024px){
    body {
        overflow-x: hidden;
    }
    .top {
        padding-bottom: 4rem;
    }
    .dashboard-top-container{
        flex-direction: column;
        margin: 0 0 0 2rem;
    }
    .footer-buttons {
        top: 65.4rem;
        bottom: 0;
        width: 72.85vw;
        height: 5rem;
        margin-bottom: 0;
    }
    
    .left {
        margin: 0;
        width: 100%;
    }
    .right {
        margin: 1rem 0 0 0;
        width: 100%;
    }
    .right-bottom{
        display: flex;
    }
    .do-today {
        display: none;
    }
    .overall{
        margin-top: -2rem;
        margin-bottom: 1rem;
        float: right;
    } 
    .overall button {
        margin-right: 1rem;
        font-size: 12px;
        padding: .2rem 1.8rem .2rem .5rem;
    }
    .ongoing-title, .buttom-header h3 {
        font-size: 18px;
    }
    .add-task {
        margin-right: .2rem;
        padding: .6rem 3rem .6rem 1rem;
        font-size: 18px;
    }
    .left {
        margin-bottom: 2rem;
    }
    .create-down{
        width: 600px;
    }
}
@media screen and (max-width:768px){
    .cancel {
        top: 1.5rem;
        left:80%;
        font-size: 28px;
    }
    
    .buttons i {
        font-size: 26px;
        }        

    .card-title h3 {
        font-size: 17px;
    }
    .card-body p {
        font-size: 15px;
    }
    .days-left {
        font-size: 20px;
    }

    .top {
        width: 100vw;
        overflow: hidden;
    }
    .user-image {
        margin-right: 1rem;
        width: 100px;
        height: 100px;
    }

    .footer-buttons {
        display: flex;
        opacity: .8;
        position: fixed;
        align-items: stretch;
        justify-content: space-evenly;
        top: 5rem;
        left: -5rem;
        bottom: 0;
        width: 5rem;
        height: 100vw;
        transition: ease-in 1s;
    }
    .left{
        left: 0rem;
    }
    .footer-menu i{
        left:rem;
        display: block;
        position: absolute;
        color: goldenrod;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
    }
    .footer-menu:hover{
        filter: brightness(1.2);
    }

.buttons {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    
}
    .user-image img {
        width: 100%;
        height: 100%;
    }  
    .name-field h3 {
        font-size: 25px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .name-field p {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
      .recent-list li {
        margin-bottom: .6rem;
        font-size: 16px;    
      }
      .buttons{
        padding: 0 1rem;
      }   
      .create-down{
        width: 500px;
    } 
    .create-task {
        margin: 0;
        width: 100vw;
        height: 118.5vw;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }   
    .header-title h1{
    font-size: 20px;
    }
    .input-field input {
        padding: .8rem 1rem;
        font-size: 14px;
    
    }
    .input-field label {
        font-size: 14px;
    }
    .submit-btn {
        width: 95%;
        padding: .7rem 0;
        font-size: 18px;
        font-weight: 700;
    }
    .right-bottom{
        margin-top: 2rem;
    }         
}
@media screen and (max-width:540px){
    .cancel {
        font-size: 18px;
    }
    .choose{
        margin-top: .7rem;
    }
    #upload-Btn{
        padding: 0.2rem .5rem;
        font-size: 8px;
        margin-bottom: 3rem;
       }
   
   
    .buttons i {
        font-size: 22px;
        }        

    .ongoing-title, .buttom-header h3 {
        font-size: 15px;
    }
    .footer-buttons {
        width: 3rem;
    }
    .add-task {
        margin-right: .2rem;
        padding: .4rem 2rem .4rem .8rem;
        font-size: 14px;
    }

    .card-title h3 {
        font-size: 14px;
    }
    .card-body p {
        font-size: 12px;
    }
    .days-left {
        font-size: 16px;
    }    
    
    .user-image {
        margin-right: .5rem;
        width: 90px;
        height: 90px;
    }
    
    .user-image img {
        width: 100%;
        height: 100%;
    }  
    .name-field h3 {
        font-size: 16px;
    }
    .name-field p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .right-bottom div {
        margin-bottom: 2rem;
        font-size: 25px;
    }
    .circle {
        width: 10px;
        height: 10px;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 25px;
}
     .complete{
         margin-left: 2rem;
     }
    .complete h2 {
        font-size: 18px;
    }
    .complete p {
        font-size: 10px;
    }    
    .title h1{
        font-size: 30px;
        font-weight: 400;
    }
    .name-field {
        margin-top: 1rem;
        margin-left: 1rem;
    }    
    .buttons i {
        font-size: 20px;
        }        
        .create-down{
            width: 400px;
        }  
        .create-task {
            overflow: hidden;
            height: 123vh;
            width: 100vw;
        } 
        .create-top h1 {
            font-size: 16px;
        }                     
}
@media screen and (max-width:414px){
    .footer-menu i{
        left:.9rem;
    }
    .recent-list li {
        margin-bottom: .4rem;
        font-size: 14px;    
      }
      .create-down{
        width: 300px;
    }  
    .header-title h1{
        font-size: 15px;
        }
        .input-field input {
            padding: .8rem 1rem;
            font-size: 12px;
        
        }
        .input-field label {
            font-size: 14px;
        }
        .submit-btn {
            width: 100%;
            padding: .7rem 0;
            font-size: 14px;
            font-weight: 400;
        
        }         
      
}   
@media screen and (max-width:375px){
    .recent-list li {
        margin-bottom: .4rem;
        font-size: 12px;    
      }
      .card-title h3 {
        font-size: 13px;
    }
    .card-body p {
        font-size: 10px;
    }
    .days-left {
        font-size: 14px;
    }
    .buttons i {
        font-size: 18px;
        }        

}
@media screen and (max-width:360px){
    .footer-menu i{
        margin-top: .5rem;
        left:1rem;
        font-size: 20px;
    }
    .ongoing-title, .buttom-header h3 {
        font-size: 13px;
    }
    .add-task {
        margin-right: 0;
        padding: .2rem 2rem .2rem .5rem;
        font-size: 12px;
    }
    .buttons{
        padding: 0 .5rem;
      }    

    .name-field h3 {
        font-size: 12px;
    }
    .name-field p {
        font-size: 10px;
    }
    .name-field {
        margin-top: 1.7rem;
        margin-left: .3rem;
    }    
    .create-down{
        width: 250px;
    }    
}
@media screen and (max-width:280px){

    .ongoing-title, .buttom-header h3 {
        font-size: 10px;
    }
    .add-task {
        margin-right: 0;
        padding: .2rem 1rem .2rem .5rem;
        font-size: 8px;
    }
    .recent-list li {
        margin-bottom: .2rem;
        font-size: 8px;    
      }
    
    .user-image {
        margin-right: .5rem;
        width: 60px;
        height: 60px;
    }
    
    .user-image img {
        width: 100%;
        height: 100%;
    }  
    .name-field h3 {
        font-size: 14px;
    }
    .name-field p {
        font-size: 10px;
    }
    .right-bottom div {
        margin-bottom: 2rem;
        font-size: 15px;
    }
    .circle {
        width: 7px;
        height: 7px;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 25px;
}
     .complete{
         margin-left: 1rem;
     }
    .complete h2 {
        font-size: 14px;
    }
    .complete p {
        font-size: 7px;
    }    
    .title h1{
        font-size: 30px;
        font-weight: 400;
    }
    .name-field {
        margin-top: 1rem;
        margin-left: 1rem;
    } 
    .card-title h3 {
        font-size: 10px;
    }
    .card-body p {
        font-size: 8px;
    }
    .days-left {
        font-size: 10px;
    }
    .buttons i {
        font-size: 12px;
        }        
}


@keyframes welcome {
    0% { color: royalblue; transform: rotate(10deg); transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); }
    50% { color: rgb(169, 38, 230); transform: rotate(-10deg); transform:scale(0.5) ; -webkit-transform:scale(0.5) ; -moz-transform:scale(0.5) ; -ms-transform:scale(0.5) ; -o-transform:scale(0.5) ; }
    0% { color: rgb(65, 225, 204); transform: rotate(20deg); transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); }
}
@keyframes moveTop {
    0%{top: -25rem; opacity: 0;}
    50%{opacity: 0.4;}
    75%{opacity: 0.8;}
    100%{top: .1rem; opacity: 1;}
}