body {
    box-sizing: border-box;
    background-color: rgb(66, 66, 66);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.top {
    margin-bottom: 4.5rem;
    background-color: rgba(231, 231, 231, 0.5);
    width: 70vw;
    color: seashell;
    padding: 0 1rem;
    box-shadow: 0 5px 30px rgba(222, 222, 222, 0.5);
}

.dashboard-top-container{
    display: flex;
    justify-content: space-between;
}

.left {
    margin: 1rem ;
    width: 70%;
}
.right {
    margin: 1rem ;
    width: 30%;
}
.overall{
    margin-bottom: 3rem;
}
.overall button {
    font-size: 30px;
    padding: 1rem 5rem 1rem 2rem;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    outline: none;
    border: none;
}
.right-bottom div {
    margin-bottom: 2rem;
    font-size: 25px;
}
.circle {
    background-color: coral;
    border:2px solid rgba(107, 106, 106, 0.3);
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.complete {
    display: flex;
    margin: auto;
}
.complete h2 {
    padding-bottom: 0;
    margin: 0;
}
.complete p {
    font-size: 15px;
    padding-top: 0;
    margin: 0;
}
#green {
    background-color: greenyellow;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
.title h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.user-image {
    margin-right: 3rem;
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

.user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}
.top-down{
    display: flex;
}
.name-field {
    margin-top: 3rem;
    margin-left: 2rem;
}
.name-field h3 {
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.name-field p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.do-today {
    margin-top: 8rem;
    animation: welcome 3s infinite;
    -webkit-animation: welcome 5s infinite;
}
.ongoing-projects {
    padding: 0 2rem;
    margin: auto;
}
.ongoing-title, .buttom-header h3 {
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.add-task {
    margin-right: 12rem;
    background-color: rgb(133, 27, 233);
    padding: .8rem 5.2rem .8rem 2rem;
    font-size: 22px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}
.add-task:hover {
    transform: scale(1.1);
    transition: .5s;
    background-color: rgb(130, 7, 245);
}
.add-task:active {
    transform: scaleY(3px);
}
.card-container {
    margin-bottom: 2rem;
    display: inline-flex;
    max-width: 100%;
    overflow-x: auto;
    color: black;
    padding: 1rem;
    box-shadow: 0px 2px 10px 2px rgba(236, 236, 236, 0.2);  

}
.cards {
    display: inline-block;
    margin-right: 1.5rem;
    box-shadow: -10px 5px 30px 10px rgba(122, 121, 121, 0.5);  
    min-width: 220px; 
    padding: .5rem 1.3rem;

}
.card-title h3 {
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(133, 27, 233);
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px  rgb(236, 236, 236);
}
.card-body p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 27px;
}
.days-left {
    font-size: 22px;
    letter-spacing: 1px;
    color: rgb(133, 27, 233);
}
.buttom-page{
    padding: 0 2rem;
}
 .recent-list li{
    margin-bottom: .8rem;
    font-size: 18px;
}
.footer-buttons {
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    bottom: 0;
    width: 71.9vw;
    height: 5rem;
}
.buttons{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons i {
font-size: 30px;
color: rgb(133, 27, 233);
}

@media screen and (max-width:1024px){
    .top {
        margin-bottom: 4rem;
    }
    .dashboard-top-container{
        flex-direction: column;
        margin: 0 0 0 2rem;
    }
    .footer-buttons {
        top: 65.4rem;
        bottom: 0;
        width: 72.85vw;
        height: 5rem;
        margin-bottom: 0;
    }
    
    .left {
        margin: 0;
        width: 100%;
    }
    .right {
        margin: 1rem 0 0 0;
        width: 100%;
    }
    .right-bottom{
        display: flex;
    }
    .do-today {
        display: none;
    }
    .overall{
        margin-top: -2rem;
        margin-bottom: 1rem;
        float: right;
    } 
    .overall button {
        margin-right: 1rem;
        font-size: 12px;
        padding: .2rem 1.8rem .2rem .5rem;
    }
    .ongoing-title, .buttom-header h3 {
        font-size: 18px;
    }
    .add-task {
        margin-right: .2rem;
        padding: .6rem 3rem .6rem 1rem;
        font-size: 18px;
    }
    .left {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:768px){
    .buttons i {
        font-size: 26px;
        }        

    .card-title h3 {
        font-size: 17px;
    }
    .card-body p {
        font-size: 15px;
    }
    .days-left {
        font-size: 20px;
    }

    .top {
        width: 100vw;
        overflow: hidden;
        margin-bottom: 4rem;
    }
    .footer-buttons {
        top: 1024px;
        width: 74.3vw;
        height: 3rem;
    }     
    .user-image {
        margin-right: 1rem;
        width: 100px;
        height: 100px;
    }

    .footer-buttons {
        top: 832px;
        bottom: 0;
        width: 100vw;
        height: 5rem;
        margin-bottom: 0;
    }

    
    .user-image img {
        width: 100%;
        height: 100%;
    }  
    .name-field h3 {
        font-size: 25px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .name-field p {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
      .recent-list li {
        margin-bottom: .6rem;
        font-size: 16px;    
      }
      .buttons{
        padding: 0 1rem;
      }    
}
@media screen and (max-width:540px){
    .buttons i {
        font-size: 22px;
        }        

    .ongoing-title, .buttom-header h3 {
        font-size: 15px;
    }
    .add-task {
        margin-right: .2rem;
        padding: .4rem 2rem .4rem .8rem;
        font-size: 14px;
    }

    .top {
        width: 100vw;
        margin-bottom: 3rem;
    }
    .card-title h3 {
        font-size: 14px;
    }
    .card-body p {
        font-size: 12px;
    }
    .days-left {
        font-size: 16px;
    }
    
    
    .user-image {
        margin-right: .5rem;
        width: 90px;
        height: 90px;
    }
    
    .user-image img {
        width: 100%;
        height: 100%;
    }  
    .name-field h3 {
        font-size: 16px;
    }
    .name-field p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .right-bottom div {
        margin-bottom: 2rem;
        font-size: 25px;
    }
    .circle {
        width: 10px;
        height: 10px;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
     .complete{
         margin-left: 2rem;
     }
    .complete h2 {
        font-size: 18px;
    }
    .complete p {
        font-size: 10px;
    }    
    .title h1{
        font-size: 30px;
        font-weight: 400;
    }
    .name-field {
        margin-top: 1rem;
        margin-left: 1rem;
    }    
    .footer-buttons {
        width: 100vw;
        right: 0; 
    }   
    .buttons i {
        font-size: 20px;
        }        
  
}
@media screen and (max-width:414px){
    .footer-buttons {
        top: 736px;
        width: 100vw;
        height: 3rem;
    }  
    .top {
        margin-bottom: 3rem;
    }
    .recent-list li {
        margin-bottom: .4rem;
        font-size: 14px;    
      }

}   
@media screen and (max-width:411px){
    .footer-buttons {
        top: 731px;
        width: 100vw;
        height: 3rem;
    }     
    .top {
        margin-bottom: 2.5rem;
    }
}
@media screen and (max-width:375px){
    .footer-buttons {
        top: 812px;
        height: 3rem;
    }
    .top {
        margin-bottom: 3rem;
    }
    .recent-list li {
        margin-bottom: .4rem;
        font-size: 12px;    
      }
      .card-title h3 {
        font-size: 13px;
    }
    .card-body p {
        font-size: 10px;
    }
    .days-left {
        font-size: 14px;
    }
    .buttons i {
        font-size: 18px;
        }        

}
@media screen and (max-width:360px){
    .ongoing-title, .buttom-header h3 {
        font-size: 13px;
    }
    .add-task {
        margin-right: 0;
        padding: .2rem 2rem .2rem .5rem;
        font-size: 12px;
    }
    .buttons{
        padding: 0 .5rem;
      }    

    .name-field h3 {
        font-size: 12px;
    }
    .name-field p {
        font-size: 10px;
    }
    .name-field {
        margin-top: 1.7rem;
        margin-left: .3rem;
    }    
    .footer-buttons {
        top: 640px;
        width: 100vw;
        height: 2rem;
    }
}
@media screen and (max-width:280px){
    .footer-buttons {
        top: 600px;
        width: 100vw;
        height: 1.5rem;
    }

    .ongoing-title, .buttom-header h3 {
        font-size: 10px;
    }
    .add-task {
        margin-right: 0;
        padding: .2rem 1rem .2rem .5rem;
        font-size: 8px;
    }
    .recent-list li {
        margin-bottom: .2rem;
        font-size: 8px;    
      }

    .top {
        width: 100vw;
    }
    
    .user-image {
        margin-right: .5rem;
        width: 60px;
        height: 60px;
    }
    
    .user-image img {
        width: 100%;
        height: 100%;
    }  
    .name-field h3 {
        font-size: 14px;
    }
    .name-field p {
        font-size: 10px;
    }
    .right-bottom div {
        margin-bottom: 2rem;
        font-size: 15px;
    }
    .circle {
        width: 7px;
        height: 7px;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 25px;
}
     .complete{
         margin-left: 1rem;
     }
    .complete h2 {
        font-size: 14px;
    }
    .complete p {
        font-size: 7px;
    }    
    .title h1{
        font-size: 30px;
        font-weight: 400;
    }
    .name-field {
        margin-top: 1rem;
        margin-left: 1rem;
    } 
    .card-title h3 {
        font-size: 10px;
    }
    .card-body p {
        font-size: 8px;
    }
    .days-left {
        font-size: 10px;
    }
    .buttons i {
        font-size: 12px;
        }        
}


@keyframes welcome {
    0% { color: royalblue; transform: rotate(10deg); transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); }
    50% { color: rgb(169, 38, 230); transform: rotate(-10deg); transform:scale(0.5) ; -webkit-transform:scale(0.5) ; -moz-transform:scale(0.5) ; -ms-transform:scale(0.5) ; -o-transform:scale(0.5) ; }
    0% { color: rgb(65, 225, 204); transform: rotate(20deg); transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); }
}